@model RaboMVC.RouteConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div> 
        @Html.BeginForm("ChangeButton", "Login")
        
        @Html.TextBox("oldpassword");
        <br />
        @Html.TextBox("newpassword");
        <br />
        @Html.TextBox("confirmpassword");
        <input type="submit" value="Login" />
    </div>
</body>
</html>
