
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Logout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    
    <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
                <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block">Logout</a></div>
            </div>
        </div>
    </div>
</body>
</html>
